.profile {
    display: grid;
    grid-template-columns: 150px auto 150px;
    margin: 0 0 50px;
    align-items: center;
}

@media (max-width: 767px) {
    .profile {
        margin: 0 0 36px;
    }

}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 767px) {
    .profile__info {
        align-items: center;
    }

}

.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .profile__avatar {
        margin: 0 0 24px 0;
    }

}
.profile__name {
    margin: 0 17px 0 0;
    font-size: 42px;
    line-height: 1.33;
    font-weight: 500;
    padding: 0;
}

@media (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.21;
        margin: 0 10px 0 0;
    }

}

.profile__title {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 1.21;
    font-weight: normal;
}

@media (max-width: 767px) {
    .profile__title {
        margin: 14px 0 36px;
        font-size: 14px;
    }

}

.profile__bio {
    display: flex;
    align-items: baseline;
    
}

@media (max-width: 1023px) {
    .profile {
        display: flex;
        flex-direction: column;
    }

}