.button_type_delete {
    background: url(../../../images/Delete\ icon.svg) center no-repeat;
    width: 18px;
    height: 19.3px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    z-index: 5;
}
/* 
@media (max-width: 775px) {

    .button_type_delete {
        width: 26px;
        height: 26px;
        top: -46px;
        right: 7px;
    }

} */