.header {
    height: 74px;
    margin: 0 0 40px;
    border-bottom: 1px solid #545454;
    display: flex;
    align-items: flex-start;
}

@media (max-width: 775px) {

    .header {
        padding-left: 27px;
        height: 56px;
    }

}
