.element__info {
    display: grid;
    grid-template-columns: auto 21px;
    align-items: center;
    background-color: #fff;
    padding: 28px 21px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}