.element {
    color: #000;
    position: relative;
    display: block;
}

.element__image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.element__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 21px;
    height: 79px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.element__title {
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}